extends layout

block content
  section(ng-app='epollo.info')
    .row.text-center(style="margin:15px;")
      .col-sm-4
        a.btn.btn-link(ui-sref='agreement') User Agreement
      .col-sm-4
        a.btn.btn-link(ui-sref='privacy') Privacy Policy
      .col-sm-4
        a.btn.btn-link(ui-sref='content') Content Policy
    .ui-view
    script(src='/modules/info/info.controllers.js')
    script(src='/modules/info/info.app.js')
