extend layout

block content
  .jumbotron.settings-body
    if errors
      each msg in errors
        h6.alert.alert-warning.text-center= msg.msg
    form(action='/'+ user.username +'/settings/update', method='post')
      .row
        .col-sm
          label First/Last name
          .input-group
            input.form-control(type='text' name='firstname' value= user.name.first)
            input.form-control(type='text' name='lastname' value= user.name.last)
          label Username
          input.form-control(name='username', type='text', value= user.username, disabled)
        .col-sm
          label Email
          input.form-control(name='email', type='email', value= user.email)
          label Password
          input.form-control(name='password', type='password', placeholder='') 
      label Bio
      textarea.form-control(style='resize: none;', name='bio', type='text', rows='3', value= user.bio, placeholder='Tell others something about yourself!')
      if user.stories || user.threads
        .text-center
          label Writings
          .row
            .col-sm
              ul(style='list-style:none;')
                if user.stories
                  label Stories
                  each story in user.stories
                    li
                      a(href='/stories/' + story.permalink)= story.title
            .col-sm
              ul(style='list-style:none;')
                if user.threads
                  label Threads
                  each thread in user.threads
                    li
                      a(href='/stories/' + thread.permalink)= thread.title
      //.text-center
        button.btn.btn-primary(type='submit') Save settings
        br
        // Here, users can delete their writings or the entire profile
        a(href='#', style='margin-top:2%;') Advanced settings
    
